*{
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.fila1{
    background-color: #E09146;
    padding-bottom: 5%;
    border : 3px solid #362D24;
}

.fila2{
    background-color: #69C7E0;
    padding-bottom: 35%;
    border : 2px solid #E09146;
}

.fila3{
    background-color: #7497A1;
    padding-bottom: 20%;
    border : 2px solid #E09146;
}

.fila4{
    background-color: #505D61;
    padding-bottom: 25%;
    border : 2px solid #E09146;
}

.fila5{
    background-color: #8B7D70;
    padding-bottom: 5%;
    border : 2px solid #E09146;
}

.fila6{
    background-color: #362D24;
    padding-bottom: 7%;
    border : 2px solid #E09146;
    
}
.fila7{
    background-color: #E09146;
    padding-bottom: 5%;
    border : 3px solid #362D24;
}



